# Dependências / build
.env
.env.*
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# paths
/node_modules/
/dist/
/build/
/public/
/src/
/test/
/docs/
/examples/
/tests/
/vendor/
/api-agents/